<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="shortcut icon" href="https://unlayer.com/assets/images/favicon.png">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109093888-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-109093888-1');
    </script>
  </head>
  <body>

    <div class="container">
      {{ block "header" . }}{{ partial "header" . }}{{end}}

      {{ if not .IsHome }}
      <div class="nav">
        {{ block "sidebar" . }}{{ partial "sidebar" . }}{{end}}
      </div>
      {{ end }}

      <div class="main">
        {{ block "main" . }}{{end}}
      </div>

      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>

    <script src="app.js"></script>

  </body>
</html>
