/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
body{
  font-family: sans-serif;
  font-size: 1em;
  text-align: center;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #039be5;
}

.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;

  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.nav {
  background: rgb(36, 40, 42);
  width: 220px;
  -ms-flex: 0 220px;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;
  text-align: left;
}

.nav h1 {
  margin: 0px;
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
}

.nav h1 a {
  color: #FFF;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  margin: 0px;
  padding: 10px 7px;
}

.nav ul li {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 16px
}

.nav ul li.active a {
  color: #039be5 !important;
}

.nav ul li.categoryMenuItem {
  padding: 20px 7px 10px;
  margin: 20px 0px 0px;
  border-top: 1px solid #555;
  color: #fff;
  font-weight: bold;
}

.nav ul li.playgroundMenuItem {
  padding: 5px 0px;
}

.nav ul li.playgroundMenuItem a {
  color: #CCC;
}

.nav ul li.playgroundMenuItem a:hover {
  color: #EEE;
}

.main {
  background: #FFF;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  height: 100%;
}

.home {
  text-align: left;
  padding: 20px;
}

.home h1 {
  margin: 20px 0px 0px;
  font-size: 22px;
}

.home ul {
  list-style: none;
  margin: 0px;
}

.home ul.main-menu {
  padding: 10px 7px;
}

.home ul.sub-menu .description {
  color: #777;
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.home ul li {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 20px
}

.home ul li.categoryMenuItem {
  padding: 20px 7px 10px;
  margin: 20px 0px 0px;
  border-top: 1px solid #555;
  font-weight: bold;
}

.home ul li.playgroundMenuItem {
  padding: 5px 0px;
  list-style: disc;
}

.codesandbox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.codesandbox-container .hover {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.codesandbox-container .hover .btn {
  display: none;
  flex: 1;
  background-color: rgb(64, 169, 243);
  color: #FFF;
  text-decoration: none;
  max-width: 300px;
  height: 90px;
  line-height: 90px;
  font-size: 28px;
  border-radius: 45px;
}

.codesandbox-container .hover .btn:hover {
  background-color: rgb(102, 185, 244);
}

.codesandbox-container .hover:hover {
  background-color: rgba(0,0,0,0.7);
}

.codesandbox-container .hover:hover .btn {
  display: block;
}
